---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout>
  <h1>404 - Oooops!</h1>
  <p>The page you're looking for doesn't exist or has been removed.</p>
  <a href="/" aria-label="Back to Home">Go back to the homepage</a>
</Layout>
