---
import { Image } from 'astro:assets'; // Import the Image component from Astro

const { article } = Astro.props;
const { filename, alt } = article.image || {};
const imageUrlBase = filename ? filename.split('/m/')[0] : '';
---

<article class="column feature bg-gray-100 rounded">
  <!-- Use the Image component for optimization -->
  {imageUrlBase && (
    <Image
      src={`${imageUrlBase}/m/360x240`}
      alt={alt || article.title}
      width={360}
      height={240}
      class="object-cover object-center w-full lg:h-48 md:h-36 rounded"
      format="webp"
      sizes="(max-width: 600px) 100vw, 360px"
      loading="lazy"
    />
  )}

  <div class="p-4">
    <h2 class="text-2xl font-semibold lg:text-3xl">
      {article.title}
    </h2>
    <p class="leading-relaxed text-gray-700 line-clamp-2 my-4">
      {article.teaser}
    </p>
    <a
      href={`/books/${article.slug}`}
      class="font-semibold text-blue-600 hover:underline"
      title="Read more"
    >
      Read More »
    </a>
  </div>
</article>
