---
// src/components/Button.astro
const { href, label, extraClasses = '' } = Astro.props
---

<a
  href={href}
  class={`text-base text-white font-normal border-2 border-white px-4 py-2 inline-block leading-none transition-all hover:bg-white hover:text-black ${extraClasses}`}
>
  {label}
</a>
