---
const { previousItem, nextItem } = Astro.props;

---



<style>
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Allinea in alto il contenuto */
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 2rem;
}

.navigation-link {
  display: flex;
  align-items: center; /* Mantiene allineati icona e testo */
  text-decoration: none;
  color: #50b0ae;
  font-size: 1.1rem;
  font-weight: bold;
}

.navigation-link span {
  margin: 0 0.5rem;
}

.navigation-link svg {
  width: 20px;
  height: 20px;
  align-self: center; /* Mantiene lo chevron centrato verticalmente */
}

.navigation-left {
  justify-self: flex-start;
  margin-left: 0.2rem;
  text-align: left; /* Aggiunge l'allineamento a sinistra */
}

.navigation-right {
  justify-self: flex-end;
  margin-right: 0.2rem;
  text-align: right;
}

.navigation-label {
  font-size: 0.9rem;
  color: #888;
}

.navigation-title {
  max-width: 30ch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a due righe */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal; /* Permette l'avvolgimento del testo */
  word-wrap: break-word;
  line-height: 1.2;
  max-height: 2.4em; /* Altezza massima per due righe */
  padding-bottom: 0.2rem; /* Aggiunge spazio per evitare il taglio della seconda riga */
}

@media (max-width: 768px) {
  .navigation-title {
    max-width: 15ch;
    -webkit-line-clamp: 1; /* Limita a una riga sui piccoli schermi */
    max-height: 1.2em; /* Altezza massima per una riga */
  }

  .navigation-link svg {
    align-self: center; /* Mantiene lo chevron allineato verticalmente anche su mobile */
  }
}

/* Allineamento del blocco Next a destra quando Prev è assente */
.navigation.single-next {
  justify-content: flex-end;
}

.navigation.single-prev {
  justify-content: flex-start;
}

</style>


<div class={`navigation ${!previousItem && nextItem ? 'single-next' : ''} ${previousItem && !nextItem ? 'single-prev' : ''}`}>

  <!-- Articolo precedente -->
  {previousItem && (
    <div class="navigation-left">
      <a href={`${previousItem.url.endsWith('/') ? previousItem.url : `${previousItem.url}/`}`} class="navigation-link">
        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>
        <div class="flex flex-col">
          <span class="navigation-label">Prev</span>
          <span class="navigation-title">{previousItem.name}</span>
        </div>
      </a>
    </div>
  )}

  <!-- Articolo successivo -->
  {nextItem && (
    <div class="navigation-right">
      <a href={`${nextItem.url.endsWith('/') ? nextItem.url : `${nextItem.url}/`}`} class="navigation-link">
        <div class="flex flex-col">
          <span class="navigation-label">Next</span>
          <span class="navigation-title">{nextItem.name}</span>
        </div>
        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>
  )}

</div>
